<template lang="html">
  <div>
    <table-rest-tree
      v-if='treeList'
      :primary-key='primaryKey'
      :model='model'
      :route='route'
      :title='title'
      :inline-edit='inlineEdit'
      :columns='columns'

      :related-field='treeList.related'
    />
    <table-rest-list
      v-else
      :primary-key='primaryKey'
      :model='model'
      :route='route'
      :title='title'
      :inline-edit='inlineEdit'
      :columns='columns'
    />
  </div>
</template>

<script>


export default {
  data : function(){
    return {
      model: '',
      primaryKey: '',
      route: '',
      inlineEdit: false,
      treeList: false,
      columns: '_all_',
    };
  },
  mounted:function(){
  },
  methods:{

  }
}
</script>
