<template lang="html">
  <div>
    <form-rest-edit
    :primary-key='primaryKey'
    :model='model'
    :route='route'
    :grid='grid'
    ></form-rest-edit>
  </div>
</template>

<script>


export default {
  data : function(){
    return {
      model: '',
      primaryKey: '',
      route: '',
      grid: [],
    };
  },
  methods:{

  }
}
</script>
