<template>
  <div>
        
    <component 
      :is='loadFiledByType(field, gridField)'
      v-bind='getFieldBinds(field, gridField)'
      v-model="innerVal"
      :label="field.label"
      :error='error'
      :required="field.required"
    />
    <!---  rel -->

  </div>
</template>

<script>

import formElements from 'core/mixins/crud/form-elements';

export default {
    mixins: [formElements,],
    props:{
        field:{
            type: Object,
            required: true,
        },
        value:{
            required: true,
        },
        code:{
            type: String,
            required: true,
        },
        error:{
            type: Boolean,
            default: false,
        },
        errorMessages:{
            type: [Object, Array],
            default: ()=>{[]},
        },
        grid:{
            type: Array,
            default: ()=>{[]},
        },
        gridField:{
            type: Object,
            required: true,
        }
    },
    watch:{
        value:function(data){
            this.innerVal = data;
        },
        innerVal:function(data, old){
            if(data != old){
                this.$emit('input', data)
            }
        }
    },
    data:function(){
        return {
            innerVal: this.value,
            
            binds:{
                'filtered-select': (field, grif) => {
                    return {
                        'error-messages': this.errorMessages,
                        'search-model': API[field.search_model]
                    }
                },
                'choice': (field, grid) => {
                    return {
                        items: field.choices,
                        'item-text': "display_name",
                        'item-value': "value",
                        'error-messages': this.errorMessages
                    }
                },
                'boolean': (field, grid) => {
                    return {
                        'error-messages': this.errorMessages
                    }
                },
                'date': (field, grid) => {
                    return {
                        'error-messages': this.errorMessages
                    }
                },
                'string': (field, grid) => {
                    return {
                        'error-messages': this.errorMessages
                    }
                },
                'integer': (field, grid) => {
                    return {
                        'error-messages': this.errorMessages,
                        type: "number",
                    }
                },
                'float': (field, grid) => {
                    return {
                        'error-messages': this.errorMessages,
                        type: "number",
                    }
                },
                'field': (field, grid) => {
                    return {
                        field: field,
                        errors: (this.errorMessages)?this.errorMessages:{},
                        grid: this.grid,
                    }
                },
                'nested object': (field, grid) => {
                    return {
                        'error-messages': this.errorMessages,
                        'primary-key': this.primaryKey,
                        fields: field.children,
                        grid: this.grid
                    }
                },
            }
        };
    },
    methods:{
        getFieldBinds:function(field,  grid){
            let type = (grid['field_type'])?grid['field_type']:field.type;
            return _.assign(grid.binds, this.binds[type](field, grid));
        },
    }
}
</script>

<style>

</style>
