<template lang="html">
  <v-form 
    ref="form" 
    v-model="valid" 
    lazy-validation
  >
    <v-card>
      <v-card-title primary-title>
        {{ title }}
      </v-card-title>
      <v-divider />
      <v-card-text>
        <v-container 
          fluid 
          grid-list-md
        >
          <rest-form
            v-model="fieldsData"
            :fields="fields"
            :primary-key="primaryKey"
            :errors="errors"
            :grid="grid"
          />
        </v-container>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-btn
          color="success"
          @click="submit"
          :disabled='disableSave'
        >
          Сохранить
          <v-icon 
            right 
            dark
          >save</v-icon>
        </v-btn>
        <v-btn
          @click="$router.push({name: routeList})"
          color="error"
        >
          Отмена
          <v-icon 
            right 
            dark
          >not_interested</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>

import restMix from 'core/mixins/crud/restMix';
import restWatchers from 'core/mixins/crud/rest-form-watchers';

export default {
  mixins: [restMix, restWatchers],
  data:function(){
    return {
      valid:true,
      fields:{},
      fieldsData:{},
      loading:false,
      errors: {},
      method: 'post',
      disableSave: false,
    }
  },
  methods:{
    submit:function(){
      this.model[this.method](this.$route.params['id'], this.fieldsData )
        .then((response) => {
          this.$router.push({name: this.routeList})
        })
        .catch((error) => {
          this.$set(this, 'errors', {});
          for(var field in error.response.data){
            const errorData =  error.response.data[field]
            this.$set(this.errors, field, errorData);
          }
        })
    },
    getOptions:function(){
      const url = this.$route.params['id'] ? this.$route.params['id'] : '';
      const method = this.$route.params['id'] ? "PUT" : 'POST';
      this.method = method.toLowerCase()
      this.model.options(url, {data: { withChoice: true } })
        .then((response) => {
          

          for(var field in response.data.actions[method]){
            const fieldData =  response.data.actions[method][field]
            if(fieldData.type!='hidden'){
              this.$set(this.fields, field, fieldData);
            }
          }

          if(!this.$route.params['id']){
            this.fillEmpty()
          }

      })
    },

    fillEmpty:function(){      
      this.fieldsData = this.fillCycle(this.fields)
    },

    fillCycle:function(fileds){
      let list = {}
      for(let field in fileds){
        list[field] = this.fillField(fileds[field]);
      }
      return list;
    },

    fillField:function(field){
      let data = ""
      if(field.type=="nested object"){
        data = this.fillCycle(field.children);
      }

      if(field.type=="field"){
        data = [];
      }
      return data
    },

    fetchData:function(){
      if(this.$route.params['id']){
        this.model.request(this.$route.params['id'], {params:{ PKOnlyObject: true }}).then((response)=>{
          this.fieldsData = response.data;
        })
      }
    },

    hasError:function(code){
      return _.hasIn(this.errors, code);
    }

  }
}
</script>
