<template>
    
    <div>
        <v-layout wrap 
        v-for='(row, index) in rows'
        :key='"grid-row-"+index'
        > 
        <v-flex 
        v-for='field in row'
        v-bind = 'getFildWrap(field)' 
        :key='field.name'
        v-if='field.name != primaryKey'
        > 
            <form-cell
            :field='fields[field.name]'
            :code='field.name'
            v-if='field.type == "cell" && !fields[field.name].read_only'
            v-model="value[field.name]"
            :error='hasError(field.name)'
            :error-messages="errors[field.name]"
            :grid='(field.childs)?field.childs:[]'
            :grid-field='field'
            ></form-cell>
            <form-layout
            v-else
            v-model="value"
            :fields='fields'
            :rows="rows"
            >
            </form-layout>
        </v-flex>
        </v-layout>
        </div>
</template>

<script>
export default {
    props:{
        primaryKey:{
            required:false,
            type:String,
            default:"",
        },
        fields:{
            requrie:true,
            type: Object
        },
        errors:{
            type:Object,
        },
        rows:{
            requrie:true,
            type: Array
        },
        value:{
            required:true
        },
    },
    methods:{
        getFildWrap:function(field){
            let ret = {};
            ret[field['layout']] = true;
            return ret ;
        },
        hasError:function(code){
            return _.hasIn(this.errors, code);
        }
    }
}
</script>
