<template>
  <v-card>
    <v-card-title primary-title>
      {{ field.label }}
    </v-card-title>
    <v-divider />
    <v-card-text>
      <v-alert
        :value="true"
        type="error"
        v-if='errors.non_field_errors'
      >
        {{ errors.non_field_errors }}
      </v-alert>
      <v-layout
        wrap
        align-center
        v-for='(val, index) in innerVal'
        :key='"related-form-wrap-" + index'
      >
        <rest-form
          :key='"related-form-contetn-" + innerVal[index].uuid'
          v-model="innerVal[index].val"
          :fields="fields"
          :errors="(errors[index])?errors[index]:{}"
          class='flex'
          :grid='grid'
        />

        <v-btn
          color="error"
          :key='"related-form-action" + index'
          @click="remove(index)"
        >
          Remove
        </v-btn>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn
        color="success"
        @click='addNewVal()'
      >
        Add
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
    props: {
      value:{
        required:true
      },
      field:{
        type:Object,
      },
      errors:{
        type:Object,
      },
      grid:{
        type: Array,
        default:() => {
            return [];
        }
      }
    },
    computed:{
        fields:function(){
            return this.field.child.children;
        }
    },
    data: function(){
        return {
            innerVal: this.setUidToVal(this.value),
        };
    },
    watch:{
        innerVal:function(data){
            this.emitVal(data);
        },
        value:function(newv, old){
            if(typeof old == 'undefined' && typeof newv != 'undefined'){
                this.innerVal = this.setUidToVal(this.value);
            }
        }
    },
    mounted:function(){
        if(typeof this.value != 'undefined' && this.value.length == 0){
            this.addNewVal();
        }
    },
    methods:{
        emitVal:function(data){
            let ret = []
            for(let i in data){
                ret.push(data[i].val);
            }
            this.$emit('input', ret);
        },
        addNewVal:function(){
            this.innerVal.push({
                uuid: uuidv4(),
                val: {}
            });
        },
        remove:function(index){
            this.innerVal.splice(index, 1);
            this.emitVal(this.innerVal);
        },
        setUidToVal:function(val){
            let ret = [];
            for(let i in val){
                ret.push({
                    uuid: uuidv4(),
                    val: val[i]
                })
            }
            return ret;
        }
    }
}
</script>

