<template>
  <div>
    {{ errors.non_field_errors }}
    <v-layout
      wrap
      v-for='(row, index) in gridList'
      :key='"grid-row-"+index'
    >
      <v-flex
        v-for='field in row'
        v-bind = 'getFildWrap(field)'
        :key='field.name'
        v-if='field.name != primaryKey'
      >
        <form-cell
          :field='fields[field.name]'
          :code='field.name'
          v-if='field.type == "cell" && !fields[field.name].read_only'
          v-model="value[field.name]"
          :error='hasError(field.name)'
          :error-messages="errors[field.name]"
          :grid='(field.childs)?field.childs:[]'
          :grid-field='field'
        />

        <form-layout
          v-else
          v-model="value"
          :fields='fields'
          :errors='errors'
          :rows="field.rows"
        />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
    props: {
      grid:{
        required:false,
        type:Array,
        default: () => {
[]
 }
      },
      primaryKey:{
        required:false,
        type:String,
        default:"",
      },
      value:{
        required:true
      },
      multiple:{
        type:Boolean,
        default:false,
      },
      fields:{
        required:true,
        type:Object,
      },
      errors:{
        type:Object,
        default: () => {
 return{}
 }
      }
    },
    watch:{
      fields:{
        handler:'prepareGrid',
        imediatly:true,
      },
      grid:{
        handler:'prepareGrid',
        imediatly:true,
      },
      gridList:(data) => {

      }
    },
    computed:{

    },
    mounted:function(){
      if(this.multiple){

      }
    },
    data:function(){
      return {
        gridList: {},
        test: [],
      };
    },
    mounted:function(){
      this.prepareGrid();
    },
    methods:{
      getFildWrap:function(field){
        let ret = {};
        ret[field['layout']] = true;
        return ret;
      },
      prepareGrid:function(){
        if(_.keys(this.fields).length == 0){
          return false;
        }
        let {used, grid} = this.prepareRows(this.grid),

         keys = _.keys(this.fields);
        _.remove(keys, (item) => {
          return this.fields[item].read_only;
        })

        let dif = _.difference(keys, used);

        for(let index in dif){
          let obj = {};
          grid.push([{
            name: dif[index],
            layout: 'xs12',
            type: 'cell',
            childs: []
          }]);

        }

        this.gridList = grid;
      },

      prepareRows:function(rows){
        let used = [],
         grid = [];

        for(let row in rows){
          let {grid_cycle, used_cycle} = this.checkRow(rows[row], false);
          used = used.concat(used_cycle);
          grid.push(grid_cycle)
        }
        return {used: used, grid:grid};
      },

      checkRow:function(rows){
        let used = [],
         grid = [];
        for(let row in rows){
          let {grid_cycle, used_cycle} = this.checkItem(rows[row], rows.length > 1);
          used = used.concat(used_cycle);
          grid.push(grid_cycle);
        }
        return {grid_cycle: grid, used_cycle: used}
      },

      checkItem:function(rowitem, in_row){
        switch (true) {
          case Array.isArray(rowitem):

            var {used, grid} = this.prepareRows(rowitem);

            return {
              grid_cycle:{
                name: uuidv4(),
                type: 'layout',
                rows: grid
              }, used_cycle:used};
            break;

          case typeof rowitem === 'string':
            var {layout, name} = this.parseFieldName(rowitem, in_row);
            var ret = {
              name, layout, type: 'cell',
            };
            return {grid_cycle: ret, used_cycle: [name]}
            break;

          case typeof rowitem === 'object':
            if(rowitem.name){
              return {
                grid_cycle:{
                  name: rowitem.name,
                  layout: rowitem.layout,
                  layout: rowitem.layout,
                  type: (rowitem.childs)?'layout':'cell',
                  field_type: rowitem.field_type,
                  binds: (rowitem.binds)?rowitem.binds:{}
                },
                used_cycle: [rowitem.name]
              };
            }
            let field = _.keys(rowitem)[0];
            var {layout, name} = this.parseFieldName(field, in_row);
            var ret = {
              name,
              layout,
              type: 'cell',
              childs: rowitem[field]
            };
            return {grid_cycle: ret, used_cycle: [name]}
            break;
        }
        return {grid_cycle:{}, used_cycle: []}
      },

      parseFieldName:function(name, in_row){
        let data = name.split(':')
        if(data[1]){
          return {
            layout: data[0],
            name: data[1]
          };
        }
          return {
            layout: (in_row)?'':'xs12',
            name: data[0]
          };

      },

      hasError:function(code){
        return _.hasIn(this.errors, code);
      }
    }
}
</script>
