<template lang="html">
  <v-container fluid>
    <v-toolbar flat>
      <v-toolbar-title v-html='title' />
      <v-divider
        class="mx-2"
        inset
        vertical
      />
      <v-spacer />

      <v-btn 
        color="primary" 
        class="mb-2"
        @click='addAction'
      >
        Добавить
        <v-icon 
          right 
          dark
        >add</v-icon>
      </v-btn>

    </v-toolbar>
    <v-data-table
      :headers="totalHeaders"
      :items="computedItems"
      :loading="loading"
      class="elevation-1"
      hide-actions
    >
      <template 
        slot="items" 
        slot-scope="props"
      >
        <table-rest-tree-row 
          :headers='totalRowHeaders'
          :edit-row='editRows[props.item[primaryKey]]'
          :item='props.item'
          :key='"row-" + props.item[primaryKey]'

          :fields='fields'
          :save='save'
          :stop-editing='stopEditing'
          :check-edit='checkEdit'
          :edit-item='editItem'
          :check-delete='checkDelete'
          :delete-item='deleteItem'
          :load-childs='loadChilds'
          :add-action='addAction'
        />
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

import restMix from 'core/mixins/crud/restMix';
import {uuidv4} from 'core/utils/';

export default {
  mixins: [restMix],
  props:{
    inlineEdit:{
      type: Boolean,
      default: false
    },
    columns:{
      type: [String, Array],
      default: '_all_'
    },
    relatedField:{
      type: String,
      required: true,
    }
  },
  data:function(){
    return {
      headers:[],
      items:[],
      loading:false,
      fields:{},
      editRows:{},
    }
  },
  computed:{
    totalHeaders:function(){
      return _.filter(this.headers, (item)=>{
        return item.value != this.primaryKey  && (!item.value || this.columns == '_all_' || _.indexOf(this.columns, item.value) > -1)
      });
    },

    totalRowHeaders:function(){
      return _.filter(this.headers, (item)=>{
        return item.value != this.primaryKey && item.value && (this.columns == '_all_' || _.indexOf(this.columns, item.value) > -1)
      });
    },

    computedItems:function(){
      return this.recursiveLoad(this.items);
    }
  },
  watch:{
  },
  methods:{
    recursiveLoad:function(items, lvl){
      lvl = (lvl)?lvl:0;

      let ret = [];
      for(let i in items){
        items[i].lvl = lvl;
        ret.push(items[i]);
        if(items[i].expand){
          Array.prototype.push.apply(ret, this.recursiveLoad(items[i].subItems, items[i].lvl+1));
        }
      }
      return ret;
    },

    checkEdit:function(item){
      if(typeof item.rowperm == 'undefined'){
        return true;
      }
      return item.rowperm.is_edit;
    },
    checkDelete:function(item){
      if(typeof item.rowperm == 'undefined'){
        return true;
      }
      return item.rowperm.is_del;
    },

    getOptions:function(){
      this.model.options('')
        .then((responce) => {
          for(var field in responce.data.actions.POST){
            const fieldData =  responce.data.actions.POST[field]
            if(fieldData.type!='hidden'){
              this.fields[field] = fieldData;
              this.headers.push({
                  text: fieldData.label,
                  align: 'left',
                  value: field
              })
            }
        }
        this.headers.push({
          text: this.$vuetify.lang.t('$vuetify.actions'),
          align: 'right',
          sortable: false,
          class: 'rest-list-large-actions'
        })
      })
    },

    fetchData:function(){
      this.model.get().then((responce)=>{
        this.items = _.map(responce.data, (item)=>{
          item['edit'] = false;
          item['expand'] = false;
          item['lvl'] = 0;
          item['subItems'] = [];
          return item
        });
      })
    },

    deleteItem:function(item){

      let finds = this.findRecursive(this.items, item[this.primaryKey]);
      console.log(finds)

      if(finds.index>-1){
          this.model.delete(item[this.primaryKey]+'/').then(()=>{
            finds.items.splice(finds.index,1)
          })
      }


    },

    editItem:function(item, isNew){
      if(this.inlineEdit){
        item.edit = true;
        isNew = (typeof isNew == 'undefined')?false:isNew;

        this.$set(this.editRows, item[this.primaryKey], _.assign({isNewItem: isNew, errors: {}},_.clone(item)));
      }else{
        this.$router.push({name:this.routeEdit,  params: { id: item[this.primaryKey] }});
      }
    },

    stopEditing:function(item){
      this.$set(item, 'edit', false);
      let editRow = this.editRows[item[this.primaryKey]];
      if(editRow.isNewItem){
        _.remove(this.items, item);
      }
      delete this.editRows[item[this.primaryKey]];
    },

    addAction:function(parent){

      if(this.inlineEdit){
        let rowData = {edit: true};
        for(let field in this.fields){
          rowData[field] = '';
        }
        rowData[this.primaryKey] = uuidv4();
        if(! parent instanceof MouseEvent){
          rowData[this.relatedField] = parent[this.primaryKey];
          parent.subItems.unshift(rowData);
        }else{
          this.items.unshift(rowData);
        }
        this.editItem(rowData, true);
      }else{
        this.$router.push({name: this.routeAdd});
      }

    },

    findRecursive:function(items, value){
      for(let index in items){
        if(items[index][this.primaryKey] == value){
          return {items:items, item:items[index], index:index}
        }

        if(items[index].subItems.length){
          return this.findRecursive(items[index].subItems, value)
        }
      }
      return false
    },

    save:function(item){
      let method = 'post';
      let url = '';
      let currentEdit = this.editRows[item[this.primaryKey]];
      
      if(! currentEdit['isNewItem']){
        method = 'patch';
        url = item[this.primaryKey] + "/";
      }
      currentEdit.errors = {};

      this.model[method](url,  currentEdit)
        .then((response) => {
          let uuid =  response.data[this.primaryKey];
          if(currentEdit['isNewItem']){
            uuid =  item[this.primaryKey];
          }
          let finds = {items:[], index: -1};
          if(item[this.relatedField]){
            finds.items = this.findRecursive(this.items, item[this.relatedField]).item.subItems;
          }else{
            finds.items = this.items;
          }

          finds.index = _.findIndex(finds.items, (inItem)=>{
            return inItem[this.primaryKey] == uuid;
          });
          this.$set(finds.items, finds.index, response.data);

          this.stopEditing(item);
        })
        .catch((error) => {
          console.log(error)
          currentEdit.errors = error.response.data;
          
        })
    },

    loadChilds:function(item){
      if(item.expand){
        item.expand = false;
      }else{
        this.model.get(item[this.primaryKey]+'/childs/').then((responce)=>{
          let items = [];
          items = _.map(responce.data, (item)=>{
            item['edit'] = false;
            item['subItems'] = [];
            return item
          });
          this.$set(item, 'expand', true);
          item.subItems = items;
        })
      }
      

    },

  }
}
</script>
