<template lang="html">
  <v-container fluid>
    <v-toolbar flat>
      <v-toolbar-title v-html='title' />
      <v-divider
        class="mx-2"
        inset
        vertical
      />
      <v-spacer />

      <v-btn 
        color="primary" 
        class="mb-2"
        @click='addAction'
      >
        Добавить
        <v-icon 
          right 
          dark
        >add</v-icon>
      </v-btn>

    </v-toolbar>
    <v-data-table
      :headers="totalHeaders"
      :items="items"
      :pagination.sync="pagination"
      :loading="loading"
      :total-items="totalItems"
      :rows-per-page-items="rowPerPage"
      class="elevation-1"
    >
      <template 
        slot="items" 
        slot-scope="props"
      >
        <td 
          :key='field.value'
          class="text-xs-left" 
          v-for='field in totalRowHeaders'
        > 
          <template v-if='props.item.edit'>
            <component 
              :is='loadFiledByType(fields[field.value], {})' 
              v-bind='getFieldBinds(field.value, props.item)'
              v-model='editRows[props.item[primaryKey]][field.value]'
              :error='editRows[props.item[primaryKey]].errors[field.value]'
              :error-messages='editRows[props.item[primaryKey]].errors[field.value]'
            />
          </template>
          <span 
            v-else 
            v-html='props.item[field.value]'
          />
        </td>

        <td class="text-xs-right ">
          <template v-if='props.item.edit'>
            <v-icon
              small
              class="mr-2"
              @click="save(props.item)"
              color='success'
            >
              save
            </v-icon>
            <v-icon
              small
              @click="stopEditing(props.item)"
              color='error'
            >
              cancel
            </v-icon>
          </template>
          <template v-else>
            <v-icon
              small
              class="mr-2"
              v-if='checkEdit(props.item)'
              @click="editItem(props.item)"
              color='success'
            >
              edit
            </v-icon>
            <v-icon
              small
              v-if='checkDelete(props.item)'
              @click="deleteItem(props.item)"
              color='error'
            >
              delete
            </v-icon>
          </template>
        </td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>

import restMix from 'core/mixins/crud/restMix';
import formElements from 'core/mixins/crud/form-elements';
import {uuidv4} from 'core/utils/';

export default {
  mixins: [restMix, formElements],
  props:{
    inlineEdit:{
      type: Boolean,
      default: false
    },
    columns:{
      type: [String, Array],
      default: '_all_'
    }
  },
  data:function(){
    return {
      headers:[],
      items:[],
      loading:false,
      totalItems:0,
      rowPerPage:[20,50],
      fields:{},
      editRows:{},
      pagination: {
      },
    }
  },
  computed:{
    totalHeaders:function(){
      return _.filter(this.headers, (item)=>{
        return item.value != this.primaryKey  && (!item.value || this.columns == '_all_' || _.indexOf(this.columns, item.value) > -1)
      });
    },

    totalRowHeaders:function(){
      return _.filter(this.headers, (item)=>{
        return item.value != this.primaryKey && item.value && (this.columns == '_all_' || _.indexOf(this.columns, item.value) > -1)
      });
    }
  },
  watch:{
    pagination: {
      handler: 'fetchData',
      deep: true
    },
  },
  methods:{
    checkEdit:function(item){
      if(typeof item.rowperm == 'undefined'){
        return true;
      }
      return item.rowperm.is_edit;
    },
    checkDelete:function(item){
      if(typeof item.rowperm == 'undefined'){
        return true;
      }
      return item.rowperm.is_del;
    },

    getOptions:function(){
      this.model.options('')
        .then((responce) => {
          for(var field in responce.data.actions.POST){
            const fieldData =  responce.data.actions.POST[field]
            if(fieldData.type!='hidden'){
              this.fields[field] = fieldData;
              this.headers.push({
                  text: fieldData.label,
                  align: 'left',
                  value: field
              })
            }
        }
        this.headers.push({
          text: this.$vuetify.lang.t('$vuetify.actions'),
          align: 'right',
          sortable: false
        })
      })
    },

    fetchData:function(){
      let query = "?page=" + this.pagination.page;
      query += "&page_size=" + this.pagination.rowsPerPage;
      if(this.pagination.sortBy){
        query += ("&ordering=" + ((this.pagination.descending) ? "-"+this.pagination.sortBy:this.pagination.sortBy));
      }
      this.model.get(query).then((responce)=>{
        this.totalItems = responce.data.count;
        this.items = _.map(responce.data.results, (item)=>{
          item['edit'] = false
          return item
        });
      })
    },

    deleteItem:function(item){
      let index = _.findIndex(this.items, (inItem)=>{
        return inItem[this.primaryKey] == item[this.primaryKey];
      })

      if(index>-1){
          this.model.delete(item[this.primaryKey]+'/').then(()=>{
            this.items.splice(index,1)
          })
      }


    },

    editItem:function(item, isNew){
      if(this.inlineEdit){
        item.edit = true;
        isNew = (typeof isNew == 'undefined')?false:isNew;

        this.$set(this.editRows, item[this.primaryKey], _.assign({isNewItem: isNew, errors: {}},_.clone(item)));
      }else{
        this.$router.push({name:this.routeEdit,  params: { id: item[this.primaryKey] }});
      }
    },

    stopEditing:function(item){
      this.$set(item, 'edit', false);
      let editRow = this.editRows[item[this.primaryKey]];
      if(editRow.isNewItem){
        _.remove(this.items, item);
      }
      delete this.editRows[item[this.primaryKey]];
    },

    addAction:function(){
      if(this.inlineEdit){
        let rowData = {edit: true};
        for(let field in this.fields){
          rowData[field] = '';
        }
        rowData[this.primaryKey] = uuidv4();
        this.items.unshift(rowData);
        this.editItem(rowData, true);
      }else{
        this.$router.push({name: this.routeAdd});
      }
    },

    save:function(item){
      let method = 'post';
      let url = '';
      let currentEdit = this.editRows[item[this.primaryKey]];
      
      if(! currentEdit['isNewItem']){
        method = 'patch';
        url = item[this.primaryKey] + "/";
      }
      currentEdit.errors = {};

      this.model[method](url,  currentEdit)
        .then((response) => {
          let uuid =  response.data[this.primaryKey];
          if(currentEdit['isNewItem']){
            uuid =  item[this.primaryKey];
            console.log(uuid);
          }
          let index = _.findIndex(this.items, (i)=>{
            return i[this.primaryKey] == uuid;
          })
          this.$set(this.items, index, response.data);
          this.stopEditing(item);
        })
        .catch((error) => {
          currentEdit.errors = error.response.data;
          
        })
    },

    getFieldBinds:function(fieldname, item){
      let field = this.fields[fieldname];
      return {
        label: field.label,
        key: fieldname+"-"+item[this.primaryKey],
        required: field.required,
      }
    },

  }
}
</script>
