<template>

  <tr>
    <td 
      :key='field.value'
      class="text-xs-left" 
      v-for='(field, index) in headers'
    > 
      <div 
        v-if='index==0' 
        class="tree-list-dot-wraper"
      >
        <span 
          v-for='i in item.lvl' 
          class='tree-list-dots'
          :key='"dots-"+i'
        />
        <v-icon 
          right
          @click="loadChilds(item)"
          class="animation-icon"
          :class='{
            "drop-down-rotate": item.expand
          }'
        >arrow_drop_down</v-icon>
      </div>
      <template v-if='item.edit'>
        <component 
          :is='loadFiledByType(fields[field.value], {})' 
          v-bind='getFieldBinds(field.value, item)'
          v-model='editRow[field.value]'
          :error='editRow.errors[field.value]'
          :error-messages='editRow.errors[field.value]'
        />
      </template>
      <span 
        v-else 
        v-html='item[field.value]'
      />
    </td>

    <td class="text-xs-right ">
      <template v-if='item.edit'>
        <v-icon
          small
          class="mr-2"
          @click="save(item)"
          color='success'
        >
          save
        </v-icon>
        <v-icon
          small
          @click="stopEditing(item)"
          color='error'
        >
          cancel
        </v-icon>
      </template>
      <template v-else>
        <v-icon
          small
          class="mr-2"
          v-if='checkEdit(item)'
          @click="editItem(item)"
          color='success'
        >
          edit
        </v-icon>
        <v-icon
          small
          class="mr-2"
          @click="addAction(item)"
          color='success'
        >
          add
        </v-icon>

        <v-icon
          small
          v-if='checkDelete(item)'
          @click="deleteItem(item)"
          color='error'
        >
          delete
        </v-icon>
      </template>
    </td>
  </tr>
</template>

<script>
import formElements from 'core/mixins/crud/form-elements';
  
export default {
    mixins: [formElements, ],
    props:{
        headers:{
            type: Array,
            required: true,
        },
        editRow:{
            type: [Object],
            required: false,
            default: ()=>{{}}
        }, 
        item:{
            type: Object,
            required: true,
        },
        fields:{
            type: Object,
            required: true,
        },
        //function callbacks
        save:{
            type: Function,
            required: true,
        },
        stopEditing:{
            type: Function,
            required: true,
        },
        checkEdit:{
            type: Function,
            required: true,
        },
        editItem:{
            type: Function,
            required: true,
        },
        checkDelete:{
            type: Function,
            required: true,
        },
        deleteItem:{
            type: Function,
            required: true,
        },

        loadChilds:{
            type: Function,
            required: true,
        },

        addAction:{
          type: Function,
          required: true,
        }
    },
    methods:{
        getFieldBinds:function(fieldname, item){
            let field = this.fields[fieldname];
            return {
                label: field.label,
                key: fieldname+"-"+item[this.primaryKey],
                required: field.required,
            }
        },
    }
}
</script>

