<template >
  <v-list>
      <v-list-tile
      v-for='(val, app) in apps'
      :key='app'
      v-if='val.crud'
      :to='{name: app+".list"}'>
        <v-list-tile-content>
          <v-list-tile-title v-html='val.title?val.title:app'></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
  </v-list>
</template>

<script>
import apps from 'vdesk/apps'

export default {
    data: function(){
      return {
        apps: apps
      }
    }
}
</script>
