
<template lang="html">
  <v-list>
    <left-menu-item
      v-for='(item, key) in menus.items'
      :key='key'
      :item='item'
      :parent-key='key'
    />
  </v-list>
</template>

<script>

export default {
  name : "LeftMenu",
  data(){
    return {
    };
  },
  computed:{
    menus:function(){
      return this.$treeMenu;
    }
  },
  watch:{
  },
  methods:{
  }
}
</script>
