<template>
  <v-list-group  
    v-if='item.haveChilds()'
    :prepend-icon="item.icon"
    v-model="item.state"
    :value='parentKey'
    :sub-group='sub'
    no-action
  >
    <v-list-tile slot="activator">
      <v-list-tile-title v-html="item.name" />
    </v-list-tile>
        
    <left-menu-item
      v-for='(itemM, key) in item.items'
      :key='key'
      :item='itemM'
      :parent-key='parentKey + "." + key'
      :sub='true'
    />

  </v-list-group>

  <v-list-tile 
    v-else 
    :to='item.route'
    exact
  >
    <v-list-tile-action v-if='item.icon'>
      <v-icon v-html='item.icon' />
    </v-list-tile-action>

    <v-list-tile-title v-html="item.name" />
  </v-list-tile>
</template>

<script>
export default {
  name: "LeftMenuItem",
  props:{
      item:{
          type: Object,
          required: true,
      },
      sub:{
          type: Boolean,
          default: false,
      },
      parentKey: {
          type: String,
          required: true,
      }
  }
}
</script>