{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>V - Desc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="{% static "css/app.css" %}" rel="stylesheet">
  <meta name="theme-color" content="#016cb0">
  <meta name="csrf-token" content="{{csrf_token}}">
  <link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{% static "favicon.ico" %}">
</head>

<body>
  <div id="app">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static "js/app.js" %}"></script>
</body>

</html>