<template>
  <v-layout>
    <v-flex
      v-for='(filter, index) in filterItems'
      :key="'subfilter-flex-'+index"
      v-if='!haveSwitch || filter.key == switchVal'
    >
      <v-autocomplete
        :key="filter.key"
        :items='filter.items'
        :search-input.sync="filter.search"
        :item-text='filter.textField'
        :item-value='filter.valueField'
        :loading="filter.isLoading"
        v-model="filter.value"
        clearable
        :label="filter.label"
      />
    </v-flex>

    <v-flex>
      <v-autocomplete
        :items="items"
        :search-input.sync="search"
        :loading="isLoading"
        :error="error"
        :label="label"
        v-model="innerVal"
        :item-text='itemText'
        :item-value='itemValue'
      />
    </v-flex>

    <v-flex v-if='haveSwitch' 
xs2>
      <v-switch
        :label="getSwitchName(switchVal)"
        v-model="switchVal"
        :true-value='switcher[0]'
        :false-value='switcher[1]'
      />
    </v-flex>

  </v-layout>
</template>

<script>
export default {
    props:{
        value:{
            required:true
        },
        searchModel:{
            required:true,
        },
        searchField:{
            type: String,
            required:true,
        },
        subFilters:{
            type: Array,
            required:true,
        },
        itemText:{
            type: String,
            required:true,
        },
        itemValue:{
            type: String,
            required:true,
        },
        label:{
            type: String
        },
        error:{
            type: Boolean
        },
        switcher:{
            type: Array,
            default: () => {
 return []; 
}
        }
    },
    computed:{
        haveSwitch:function(){
            return this.switcher.length > 1;
        }
    },
    watch: {
        innerVal:function(val, old){
            if(val != old){
                this.$emit('input', val)
            }
        },
        search:{
            handler:function(val){
                // Items have already been requested
                if (this.isLoading) {return;}

                if(this.searchDealay){
                    clearTimeout(this.searchDealay)
                }

                this.searchDealay = setTimeout(() => {
                    this.isLoading = true;
                    if(val == null){
 val = ''; 
}
                    let search = Object.assign(this.getSubSearch(), _.zipObject([this.searchField], [val]));
                    this.searchModel.post('search', search).
                    then((res) => {
                        this.items = res.data;
                    }).
                    catch((err) => {
                        console.log(err)
                    }).
                finally(() => (this.isLoading = false))
                }, 1000);
            },
            immediate: true
        }
    },
    data:function(){
        return {
            searchDealay: false,
            search: null,
            isLoading: false,
            subSearch:{},
            items:[],
            switchVal:(this.switcher[0])?this.switcher[0]:'',
            innerVal: this.value,
            filterItems: _.map(this.subFilters, (item, index) => {
                if(!item.key){
                    item.key = "subfilter-" + (index+1)
                }
                return _.assign({
                    items: [],
                    search: '',
                    value: '',
                    isLoading: false,
                }, item);
            }),
        };
    },
    mounted:function(){


        for(let i in this.filterItems){
            this.$watch(() => this.filterItems[i].search, (val) => {
                if (this.filterItems[i].isLoading || val === null) {return;}
                this.filterItems[i].isLoading = true;

                API[this.filterItems[i].model].post('search', _.zipObject([this.filterItems[i].searchField], [val])).
                    then((res) => {
                        this.filterItems[i].items = res.data;
                    }).
                    catch((err) => {
                        console.log(err)
                    }).
                finally(() => (this.filterItems[i].isLoading = false))
            });

            this.$watch(() => this.filterItems[i].value, (val) => {
                this.subSearch[this.filterItems[i].key] = this.filterItems[i].query(val);
            });
        }
    },
    methods:{
        getSubSearch:function(){
            let list = [];
            if(!this.haveSwitch){
                ret = _.values(this.subSearch)
            }
            list = _.values(_.pick(this.subSearch, [this.switchVal]))
            let ret = {}
            for(let i in list){
                ret = _.assign(ret, list[i]);
            }
            return ret
        },
        getSwitchName:function(name){
            let sw = _.find(this.filterItems, (item) => {
                return item.key == name;
            })
            return sw.label;
        }
    }
}
</script>
