{% extends "layouts/main.html" %}

{% block content %}
<v-app>
  <v-navigation-drawer
  clipped
  fixed
  v-model="drawer"
  app
  >
    <v-divider></v-divider>
    <left-menu></left-menu>
  </v-navigation-drawer>

  <v-toolbar app fixed clipped-left color='blue darken-3' dark>
    <v-toolbar-side-icon @click.stop="drawer = !drawer">
    </v-toolbar-side-icon>
    <v-toolbar-title>V - Desk</v-toolbar-title>
    <v-spacer></v-spacer>
  </v-toolbar>

  <v-content>
    <v-container
      fluid
      class="theme--light grey lighten-3">
      <router-view></router-view>
    </v-container>
  </v-content>

  <v-footer app class="pa-3">
    <v-spacer></v-spacer>
    <div></div>
  </v-footer>
</v-app>
{% endblock %}
